.competition-form__form {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    padding: 76px 130px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 64px;
    column-gap: 70px;
  }
}

.competition-form__section {
  padding: 38px 20px 44px;
  margin: 0;
  border: none;
  order: 1;

  @media (min-width: $tablet-width) {
    width: 620px;
    margin: 0 auto;
    margin-top: 70px;
    padding: 0 20px;
    border: 2px solid $border;
    border-radius: 1px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    margin: 0;
  }

  &:first-child {
    @media (min-width: $tablet-width) {
      border: none;
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      padding-top: 7px;
    }
  }

  &:nth-child(2n) {
    background-color: $light-grey;

    @media (min-width: $tablet-width) {
      background: none;
    }
  }

  &:nth-child(4) {
    padding-bottom: 41px;

    @media (min-width: $tablet-width) {
      margin-top: 68px;
      padding-bottom: 3px;
      order: 2;
    }

    @media (min-width: $desktop-width) {
      margin-top: 0;
      padding-bottom: 1px;
    }
  }

  &:nth-child(3) {
    padding-top: 33px;

    @media (min-width: $tablet-width) {
      margin-top: 67px;
      padding-top: 0;
      order: 3;
    }

    @media (min-width: $desktop-width) {
      margin-top: 0;
      grid-column: 1/-1;
    }
  }

  &:nth-child(2) {
    @media (min-width: $tablet-width) {
      margin-top: 67px;
      order: 4;
    }

    @media (min-width: $desktop-width) {
      grid-column: 1/-1;
      margin-top: 0;
    }
  }

  &:nth-child(5) {
    padding-bottom: 39px;

    @media (min-width: $tablet-width) {
      margin-top: 66px;
      order: 5;
      padding: 45px 58px 44px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 2px;
      grid-column: 1/-1;
      padding: 42px 58px 38px;
    }
  }
}

.competition-form__fields-list {
  list-style: none;
  margin: 0;
  padding: 0;

  &--contacts {
    @media (min-width: $tablet-width) {
      padding: 43px 38px 33px;
    }

    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 70px;
      padding-bottom: 19px;
    }
  }
}

.competition-form__fields-item {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    margin-bottom: 54px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--bottom-label {
    flex-direction: column-reverse;
    align-items: flex-start;

    @media (min-width: $tablet-width) {
      margin-bottom: 37px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }

    .competition-form__label {
      @media (min-width: $tablet-width) {
        padding-left: 19px;
        margin-top: 17px;
      }
    }
  }

  &--icon-phone::after,
  &--icon-email::after {
    display: none;

    @media (min-width: $tablet-width) {
      content: "";
      display: block;
      background-repeat: no-repeat;
      background-position: center;
      background-color: $border;
      width: 62px;
      height: 62px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &--icon-phone::after {
    background-image: url("../img/icons/phone-icon.svg");
  }

  &--icon-email::after {
    background-image: url("../img/icons/mail-icon.svg");
  }
}

.competition-form__label {
  line-height: 18px;
  text-transform: uppercase;
  color: $red;
  padding-left: 23px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 19px;
  }
}

.competition-form__input {
  font: inherit;
  font-size: 18px;
  outline: none;
  border: 2px solid $border;
  border-radius: 1px;
  width: 100%;
  height: 61px;
  padding: 0 20px;
  margin-top: 10px;
  position: relative;
  z-index: 1;
  background: transparent;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    &:hover {
      border-color: $dark-grey;
    }
  }

  &:focus {
    border-color: $red;
  }

  &::placeholder {
    font-size: 18px;
    color: $dark-grey;
  }
}

.competition-form__name {
  margin: 0;
  font-weight: inherit;
  font-size: 14px;
  line-height: 18px;
  color: $red;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 50%;
    top: -10px;
    transform: translateX(-50%);
    white-space: nowrap;
    background-color: $white;
    padding: 0 25px;
  }

  &--mobile-hidden {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  &--comment {
    margin-bottom: 17px;
  }

  &--radio {
    margin-bottom: 36px;
  }
}

.competition-form__filters-list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding: 51px 39px;
  }

  @media (min-width: $desktop-width) {
    padding: 54px;
  }

  &--checkbox {
    @media (min-width: $tablet-width) {
      padding-top: 52px;
      padding-bottom: 50px;
    }

    @media (min-width: $desktop-width) {
      padding: 54px 40px 6px;
      display: flex;
      flex-wrap: wrap;
    }

    .competition-form__filters-item {
      @media (min-width: $desktop-width) {
        margin-bottom: 47px;
        padding-right: 20px;

        &:nth-child(3n) {
          width: 210px;
          padding-right: 0;
        }

        &:nth-child(3n+1) {
          width: 313px;
        }

        &:nth-child(3n-1) {
          width: 293px;
        }
      }
    }
  }
}

.competition-form__filters-item {
  font-size: 18px;
  margin-bottom: 45px;

  @media (min-width: $desktop-width) {
    margin-bottom: 39px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--radio {
    margin-bottom: 36px;
  }
}

.competition-form__checkbox-label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;

  &::before {
    content: "";
    width: 37px;
    height: 37px;
    min-width: 37px;
    background-color: $white;
    border: 2px solid $border;
    border-radius: 1px;
    margin-right: 22px;
  }

  @media (min-width: $desktop-width) {
    &:hover::before,
    &:focus::before {
      border-color: $dark-grey;
    }
  }

  &:active::before {
    border-color: $red;
  }
}

.competition-form__filter:checked + .competition-form__checkbox-label::after {
  content: "";
  background-image: url("../img/icons/checkbox.svg");
  position: absolute;
  width: 22px;
  height: 16px;
  top: 50%;
  transform: translateY(-50%);
  left: 7px;
}

.competition-form__filter:focus + .competition-form__checkbox-label::before {
  border-color: $dark-grey;
}

.competition-form__radio-label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;

  &::before {
    content: "";
    width: 39px;
    height: 39px;
    min-width: 39px;
    background-color: $white;
    border: 2px solid $border;
    border-radius: 50%;
    margin-right: 31px;

    @media (min-width: $tablet-width) {
      margin-right: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    &:hover::before {
      border-color: $dark-grey;
    }
  }

  &:active::before {
    border-color: $red;
  }
}

.competition-form__filter:checked + .competition-form__radio-label::after {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $red;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10.5px;
}

.competition-form__filter:focus + .competition-form__radio-label::before {
  border-color: $dark-grey;
}

.competition-form__comment {
  font: inherit;
  font-size: 18px;
  outline: none;
  border: 2px solid $border;
  border-radius: 1px;
  padding: 15px 20px;
  width: 100%;
  height: 199px;
  resize: none;

  @media (min-width: $tablet-width) {
    height: 193px;
  }

  @media (min-width: $desktop-width) {
    height: 127px;

    &:hover {
      border-color: $dark-grey;
    }
  }

  &:focus {
    border-color: $red;
  }

  &::placeholder {
    font-size: 18px;
    line-height: 30px;
    color: $dark-grey;
  }
}

.competition-form__footer {
  padding: 4px 20px 19px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    order: 6;
    padding: 67px 20px 50px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
    padding: 0;
  }
}

.competition-form__footnote {
  text-transform: uppercase;
  margin-top: 38px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }

  &--long {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  &::before {
    content: "*";
    color: $red;
  }
}
