.contacts__wrapper {
  padding: 47px 20px 34px;

  @media (min-width: $tablet-width) {
    padding: 51px 20px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 69px 160px 6px 177px;
  }
}

.contacts__intro {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
  }
}

.contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.contacts__item {
  text-align: center;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }

  &:first-child {
    @media (min-width: $desktop-width) {
      order: 1;
    }
  }

  &:nth-child(2) {
    @media (min-width: $desktop-width) {
      order: 3;
    }
  }

  &:last-child {
    margin-bottom: 0;

    @media (min-width: $tablet-width) {
      grid-column: 1/-1;
    }

    @media (min-width: $desktop-width) {
      order: 2;
    }
  }
}

.contacts__title {
  font-weight: 700;
  font-size: 18px;
  margin: 0;

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;
  }
}

.contacts__link {
  text-decoration: none;
  font-weight: 300;
  font-size: 24px;
  color: $red;
  line-height: 33px;
  display: block;

  @media (min-width: $desktop-width) {
    &:hover {
      color: $dark-grey;
      text-decoration: underline;
    }
  }

  &:active {
    color: rgba($dark-grey, 0.3);
    text-decoration: none;
  }
}

.contacts__map {
  width: 100%;
  height: 200px;
  position: relative;
  background-image: url("../img/map@1x.png");
  background-size: cover;
  background-color: $light-grey;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map@2x.png");
  }

  @media (min-width: $tablet-width) {
    height: 374px;
    background-image: url("../img/map-tablet@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    height: 502px;
    background-image: url("../img/map-desktop@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-desktop@2x.png");
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 32px;
    background-color: $white;
    top: 0;
    left: 0;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
    z-index: 1;

    @media (min-width: $tablet-width) {
      height: 67px;
    }

    @media (min-width: $desktop-width) {
      height: 100px;
    }
  }
}
