.copyright {
  display: flex;
  align-items: center;
}

.copyright__text {
  margin: 0;
  margin-right: 15px;

  @media (min-width: $desktop-width) {
    margin-right: 13px;
  }
}

.copyright__link {
  display: flex;

  svg {
    fill: $red;
  }

  @media (min-width: $desktop-width) {
    &:hover svg {
      fill: $dark-grey;
    }
  }

  &:active svg {
    fill: rgba($dark-grey, 0.3);
  }
}
