.features {
  width: 100%;
  padding-top: 46px;
}

.features__intro {
  padding: 0 20px 70px;
}

.features__intro-text:not(:last-child) {
  margin-bottom: 46px;
}

.features__list {
  list-style: none;
  margin: 0;
  padding: 53px 20px 0;
  background-color: $light-grey;

  &::after {
    content: "";
    display: block;
    background-image: url("../img/features-image.png");
    width: 157px;
    height: 277px;
    background-size: cover;
    margin: 0 auto;
  }
}

.features__item {
  text-align: center;
}

.features__title {
  font-weight: 700;
  font-size: 18px;
  color: $black;
  margin: 0;
  margin-bottom: 24px;
}

.features__description {
  margin: 0;
  margin-bottom: 43px;
}
