.features {
  width: 100%;
  background-color: $light-grey;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 33px;
    background-color: $white;
    top: 0;
    left: 0;
    clip-path: polygon(100% 0, 0 100%, 0 0);

    @media (min-width: $tablet-width) {
      height: 52px;
    }

    @media (min-width: $desktop-width) {
      height: 100px;
    }
  }
}

.features__list {
  list-style: none;
  margin: 0;
  padding: 84px 20px 0;
  position: relative;

  &::after {
    content: "";
    display: block;
    background-image: url("../img/features-image.png");
    width: 157px;
    height: 277px;
    background-size: cover;
    margin: 0 auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/features-image@2x.png");
    }
  }

  @media (min-width: $tablet-width) {
    padding-left: 330px;
    padding-top: 76px;
    padding-bottom: 1px;

    &::after {
      background-image: url("../img/features-tablet.png");
      width: 268px;
      height: 482px;
      position: absolute;
      bottom: 0;
      left: 20px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/features-tablet@2x.png");
      }
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 4px 130px 50px;
    justify-content: space-between;

    &::after {
      display: none;
    }
  }
}

.features__item {
  text-align: center;
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 41px;
  }

  @media (min-width: $tablet-width) {
    text-align: left;
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    width: 300px;
    margin-bottom: 41px;

    &::before {
      content: "";
      width: 300px;
      height: 302px;
      display: block;
      margin-bottom: 55px;
      background-size: cover;
    }

    &--first::before {
      background-image: url("../img/features-desktop1.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/features-desktop1@2x.png");
      }
    }

    &--second::before {
      background-image: url("../img/features-desktop2.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/features-desktop2@2x.png");
      }
    }

    &--third::before {
      background-image: url("../img/features-desktop3.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/features-desktop3@2x.png");
      }
    }
  }
}

.features__title {
  font-weight: 700;
  font-size: 18px;
  color: $black;
  margin: 0;
  margin-bottom: 11px;

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 1;
    margin-bottom: 25px;
    padding: 0 31px;
  }
}

.features__description {
  margin: 0;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    padding: 0 26px;
  }
}
