.filter-button {
  border: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: contain;
  background-color: transparent;

  svg {
    fill: rgba($dark-grey, 0.3);
  }

  &--active svg {
    fill: $red;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  }
}
