.filter-button {
  border: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: contain;
  background-color: transparent;

  path {
    fill: $dark-grey;
  }

  &--active path {
    fill: $red;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}
