.form-button {
  width: 280px;
  height: 59px;
  background-color: $green;
  padding: 0;
  border: 2px solid $green;
  border-radius: 1px;
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: $white;
}
