.form-button {
  width: 280px;
  height: 59px;
  background-color: $green;
  padding: 0;
  border: 2px solid $green;
  border-radius: 1px;
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: $white;

  @media (min-width: $desktop-width) {
    &:hover,
    &:focus {
      background-color: $dark-green;
      border-color: $dark-green;
    }
  }

  &:active {
    background-color: $dark-green;
    border-color: $dark-green;
    color: rgba($white, 0.3);
  }

  &:disabled {
    background-color: $border;
    border-color: $border;
  }
}
