.gallery {
  padding: 52px 20px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 79px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 91px;
  }
}

.gallery__wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 130px;
  }
}

.gallery__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
  }
}

.gallery__item {
  margin-bottom: 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:first-child {
    @media (min-width: $tablet-width) {
      grid-column: 1/-1;
    }
  }
}

.gallery__link {
  display: block;

  &--wide {
    margin-left: -20px;
    margin-right: -20px;

    @media (min-width: $desktop-width) {
      margin-left: -130px;
      margin-right: -130px;
    }
  }
}

.gallery__image-caption {
  margin: 0;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: $white;
  background-color: $red;
  padding: 8px 20px;
  position: absolute;
  top: 0;
  right: 0;

  @media (min-width: $tablet-width) {
    top: 57px;
  }

  @media (min-width: $desktop-width) {
    top: 54px;
  }
}

.gallery__image {
  display: block;
  width: 100%;
  height: auto;
}

.gallery__image-info {
  background-color: $light-grey;
  padding: 20px 17px;
  padding-right: 10px;

  @media (min-width: $tablet-width) {
    padding: 25px 30px;
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

.gallery__image-author {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 700;
}

.gallery__image-time {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}

.gallery__image-comment {
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: auto;
  }
}

.gallery__image-likes {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-top: 15px;
  }

  &--top {
    @media (min-width: $tablet-width) {
      position: absolute;
      top: 25px;
      right: 30px;
      margin-top: 0;
    }
  }
}

.gallery__likes-link {
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  color: $red;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  &::before {
    content: "";
    background-image: url("../img/icons/like.svg");
    width: 13px;
    height: 12px;
    margin-right: 18px;

    @media (min-width: $tablet-width) {
      margin-right: 0;
      margin-left: 16px;
    }
  }
}
