.header-nav {
  display: flex;
}

.header-nav__toogle {
  width: 50px;
  height: 4px;
  background-color: $white;
  padding: 0;
  border: none;
  border-radius: 1px;
  position: relative;

  &::before,
  &::after {
    content: "";
    width: 50px;
    height: 4px;
    background-color: $white;
    border-radius: 1px;
    position: absolute;
    left: 0;
  }

  &::before {
    top: -10px;
  }

  &::after {
    bottom: -10px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
  top: 66px;
  left: 0;
  display: none;

  @media (min-width: $tablet-width) {
    top: 110px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    display: flex;
  }
}

.header-nav__item {
  @media (min-width: $desktop-width) {
    margin-left: 78px;
  }

  a {
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 25px 0;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    color: $white;
    text-transform: uppercase;
    background-color: $dark-grey;
    box-shadow: 0 1px 0 $black, inset 0 1px 0 rgba(255, 255, 255, 0.15);

    @media (min-width: $desktop-width) {
      background: none;
      font-weight: 400;
      text-transform: none;
      box-shadow: none;
      padding: 0;
    }
  }
}
