.main-button {
  width: 280px;
  min-height: 55px;
  border: 3px solid $white;
  border-radius: 29px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: transparent;
  text-align: center;
  padding: 0 10px;

  @media (min-width: $desktop-width) {
    font-size: 21px;

    &:hover {
      background-color: $white;
      color: $red;
    }
  }

  &:active {
    background-color: $white;
    color: rgba($red, 0.3);
  }

  &--red {
    border-color: $red;
    color: $red;

    @media (min-width: $desktop-width) {
      &:hover {
        background-color: $red;
        color: $white;
      }
    }

    &:active {
      background-color: $red;
      color: rgba($white, 0.3);
    }
  }

  &--grey {
    background-color: transparent;
    border-color: rgba($dark-grey, 0.1);
    color: rgba($dark-grey, 0.1);

    @media (min-width: $desktop-width) {
      &:hover {
        background-color: transparent;
        border-color: rgba($dark-grey, 0.3);
        color: rgba($dark-grey, 0.3);
      }
    }

    &:active {
      background-color: rgba($dark-grey, 0.3);
      border: none;
      color: rgba($white, 0.3);
    }
  }
}
