.main-header {
  width: 100%;
  min-height: 237px;
  background-image: url("../img/background-mobile.jpg");
  background-size: cover;
  padding: 94px 20px 44px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    min-height: 440px;
    background-image: url("../img/background-tablet.jpg");
    padding: 176px 20px 60px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-tablet@2x.jpg");
    }
  }

  &--nojs {
    padding-top: 28px;
    min-height: 171px;
    background-position: 0 -60px;

    @media (min-width: $tablet-width) {
      padding-top: 66px;
      min-height: 330px;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 394px;
    background-image: url("../img/background-desktop.jpg");
    padding: 168px 20px 90px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-desktop@2x.jpg");
    }
  }
}

.main-header__title {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: $white;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 68px;
  }

  @media (min-width: $desktop-width) {
    width: 747px;
    margin: 0 auto;
  }
}
