.main-header {
  width: 100%;
  background-image: url("../img/background.jpg");
  padding: 98px 20px 47px;
}

.main-header__title {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: $white;
  text-align: center;
}
