.page-header {
  background-color: rgba($black, 0.3);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  @media (max-width: $hidden-menu-width) {
    &--menu-opened,
    &--nojs {
      background-color: $dark-grey;
      border-bottom: 1px solid $black;

      .page-header__wrapper {
        height: 68px;

        @media (min-width: $tablet-width) {
          height: 109px;
        }
      }
    }
  }
}

.page-header__wrapper {
  height: 66px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 110px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 130px;
    width: 1200px;
  }
}

.page-header__logo {
  display: flex;

  svg {
    fill: $white;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 3px;

    &:hover svg {
      fill: $red;
    }
  }

  &:active svg {
    fill: rgba($white, 0.3);
  }
}
