.page-info {
  padding: 44px 20px 0;

  @media (min-width: $tablet-width) {
    padding: 92px 0 3px;
  }

  &--bottom {
    padding-bottom: 44px;

    @media (min-width: $tablet-width) {
      padding-top: 41px;
    }

    @media (min-width: $desktop-width) {
      padding: 61px 0 69px;
    }
  }
}

.page-info__intro {
  margin: 0;
  line-height: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    width: 490px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 756px;
  }

  &--short-line {
    padding: 0 14px;

    @media (min-width: $desktop-width) {
      width: 642px;
    }
  }
}

.page-info__text {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}
