.page-footer__wrapper {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 36px 20px 51px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 70px 130px 87px;
  }
}

.page-footer__logo {
  @media (min-width: $desktop-width) {
    &:hover svg {
      fill: $red;
    }
  }

  &:active {
    opacity: 0.3;

    svg {
      fill: $dark-grey;
    }
  }
}

.page-footer__social {
  margin: 38px 0;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
