.popup {
  padding: 44px 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 460px;
    height: 432px;
  }

  @media (min-width: $desktop-width) {
    width: 780px;
    height: 377px;
  }

  &--with-footer {
    padding-bottom: 0;
  }
}

.popup__footer {
  width: 100%;
  padding: 50px 20px;
  background-color: $light-grey;

  @media (min-width: $tablet-width) {
    padding: 50px 80px;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 160px;
  }

  &--desktop {
    padding: 0;
    width: auto;

    @media (min-width: $desktop-width) {
      padding: 50px 160px;
      width: 100%;
    }
  }
}

.popup__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  color: $black;
  text-align: center;
  margin-bottom: 29px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 40px;
    padding: 0 70px;
  }
}

.popup__text {
  margin: 0;
  text-align: center;
  margin-bottom: 43px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
    font-size: 18px;
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 41px;
    padding: 0 200px;
  }
}

.popup__button {
  display: block;
  margin: 0 auto;

  &--long {
    @media (min-width: $desktop-width) {
      width: 456px;
    }
  }
}
