.price {
  background-color: $light-grey;
  padding: 100px 0 45px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: $white;
    top: 0;
    left: 0;
    clip-path: polygon(100% 0, 0 100%, 0 0);

    @media (min-width: $tablet-width) {
      height: 38px;
    }

    @media (min-width: $desktop-width) {
      height: 100px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.price__wrapper {
  @media (min-width: $tablet-width) {
    padding: 100px 20px 70px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 150px;
  }
}

.price__slider {
  overflow: hidden;
}

.price__toggles {
  margin-top: 45px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
