.price-table {
  position: relative;
  left: -260px;
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    position: static;
    width: 100%;
  }

  th:first-child,
  td:first-child {
    display: none;

    @media (min-width: $tablet-width) {
      display: table-cell;
    }
  }
}

.price-table__rate {
  background-color: $dark-grey;
  vertical-align: top;
  padding-top: 19px;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  width: 280px;
  min-width: 280px;
  height: 98px;
  border-right: 2px solid $light-grey;
  position: relative;

  &--hit::before {
    content: "";
    width: 74px;
    height: 74px;
    background-image: url("../img/table-hit.svg");
    position: absolute;
    top: 0;
    left: -2px;
  }

  @media (min-width: $tablet-width) {
    min-width: 0;
    width: auto;
    height: 79px;
    padding-top: 20px;

    &--hit::before {
      background-size: contain;
      width: 60px;
      height: 60px;
      left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    width: auto;
    height: 98px;
    padding-top: 23px;

    &--hit::before {
      width: 74px;
      height: 74px;
    }
  }

  &:last-child {
    border: none;
    border-radius: 0 3px 0 0;
  }

  &:nth-child(2) {
    border-radius: 3px 0 0 0;
  }
}

.price-table__rate-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 9px;

  @media (min-width: $tablet-width) {
    margin-bottom: 8px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    margin-bottom: 12px;
  }
}

.price-table__rate-price {
  font-weight: 300;
  font-size: 18px;

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.price-table__cell {
  background-color: $white;
  height: 61px;
  border-right: 2px solid $border;
  border-bottom: 2px solid $border;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 153px;
    height: 46px;
    padding: 0 15px;
  }

  @media (min-width: $desktop-width) {
    width: 234px;
    height: 61px;
    font-size: 18px;
    padding: 0 20px;
  }

  &:nth-child(2) {
    border-left: 2px solid $border;

    @media (min-width: $tablet-width) {
      border-left: none;
    }
  }

  &:first-child {
    @media (min-width: $tablet-width) {
      border-left: 2px solid $border;
    }
  }
}

.price-table__cell--border {
  @media (min-width: $tablet-width) {
    border-top: 2px solid $border;
    border-radius: 3px 0 0 0;
  }
}

.price-table__value {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 0;
    justify-content: center;
  }

  &--yes::after {
    content: "";
    background-image: url("../img/icons/table-yes.svg");
    display: inline-block;
    width: 31px;
    height: 21px;
  }

  &--no::after {
    content: "";
    background-image: url("../img/icons/table-no.svg");
    display: inline-block;
    width: 27px;
    height: 27px;
  }
}
