.range-controls {
  position: relative;
}

.range-controls__scale {
  height: 2px;
  background-color: $dark-grey;
}

.range-controls__toogle {
  width: 14px;
  height: 14px;
  background-color: $white;
  border: 2px solid $red;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
}
