.research {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    background-color: $light-grey;
  }
}

.research__wrapper {
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 97px 20px 50px 330px;

    &::before {
      content: "";
      background-image: url("../img/research-image.svg");
      width: 238px;
      height: 276px;
      background-size: contain;
      position: absolute;
      bottom: 28px;
      left: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 70px 166px 115px 500px;

    &::before {
      background-image: url("../img/research-image.svg");
      width: 298px;
      height: 345px;
      bottom: 70px;
      left: 131px;
    }
  }
}

.research__slogan {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: $black;
  text-align: left;
  padding-right: 140px;

  @media (min-width: $desktop-width) {
    line-height: 30px;
    margin-bottom: 26px;
    padding-right: 0;
  }
}

.research__intro {
  margin: 0;
  padding-right: 2px;
  margin-bottom: 10px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 34px;
  }
}

.research__link {
  color: $red;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}
