.social__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.social__item {
  margin-right: 14px;

  @media (min-width: $desktop-width) {
    margin-right: 7px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  text-decoration: none;
  display: block;
  width: 48px;
  height: 48px;
  border: 3px solid rgba($dark-grey, 0.1);
  border-radius: 50%;
  box-sizing: content-box;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $desktop-width) {
    &:hover {
      border-color: $dark-grey;
    }
  }

  &:active {
    border-color: rgba($dark-grey, 0.4);
    opacity: 0.3;
  }

  &--twitter {
    background-image: url("../img/icons/twitter.svg");
    background-size: 18px 14px;
  }

  &--facebook {
    background-image: url("../img/icons/facebook.svg");
    background-size: 9px 18px;
  }

  &--youtube {
    background-image: url("../img/icons/youtube.svg");
    background-size: 15px 13px;
  }
}
