.text-intro {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;

  &--white {
    color: $white;
  }

  @media (min-width: $tablet-width) {
    font-size: 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
  }

  p {
    margin: 0;
    padding: 0 20px;
  }

  &--features {
    padding: 42px 20px 30px;

    @media (min-width: $tablet-width) {
      padding: 48px 0 30px;
      line-height: 54px;
    }

    @media (min-width: $desktop-width) {
      padding: 64px 0 53px;
      line-height: 1.35;
    }

    p:not(:last-child) {
      margin-bottom: 29px;

      @media (min-width: $tablet-width) {
        margin-bottom: 0;
      }
    }
  }
}
