.user-photo {
  padding: 20px;
  padding-bottom: 41px;
  background-color: $light-grey;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    background-color: $white;
  }
}

.user-photo__wrapper {
  @media (min-width: $tablet-width) {
    padding: 57px 20px 54px;
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 45px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    background-color: $light-grey;
    padding: 57px 60px 57px 80px;
    column-gap: 90px;
  }
}

.user-photo__image-wrapper {
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.user-photo__buttons-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 194px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.user-photo__controls-list {
  list-style: none;
  padding: 0;
  margin: 0 -20px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.user-photo__controls-item {
  padding: 36px 20px 34px;
  border-bottom: 1px solid rgba($dark-grey, 0.1);
  display: none;

  &--active {
    display: block;
  }

  @media (min-width: $tablet-width) {
    padding: 26px 18px 24px 0;
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 30px 14px 0;
  }

  &:first-child {
    @media (min-width: $tablet-width) {
      padding-top: 9px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 0;
    }
  }

  &:last-child {
    @media (min-width: $desktop-width) {
      border: none;
    }
  }

  &::before {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      content: "";
      width: 22px;
      height: 22px;
      background-repeat: no-repeat;
      margin-right: 29px;
    }

    @media (min-width: $desktop-width) {
      width: 48px;
      height: 44px;
      margin-right: 48px;
    }
  }

  &--size::before {
    background-image: url("../img/icons/size-icon.svg");

    @media (min-width: $desktop-width) {
      background-image: url("../img/icons/size-icon-desktop.svg");
    }
  }

  &--color::before {
    background-image: url("../img/icons/color-icon.svg");

    @media (min-width: $desktop-width) {
      background-image: url("../img/icons/color-icon-desktop.svg");
    }
  }

  &--contrast::before {
    background-image: url("../img/icons/contrast-icon.svg");

    @media (min-width: $desktop-width) {
      background-image: url("../img/icons/contrast-icon-desktop.svg");
    }
  }
}

.user-photo__post-buttons {
  padding-top: 38px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-top: 67px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 145px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.user-photo__button {
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 183px;
    height: 55px;
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
