.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: none;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.page-wrapper {
  margin: 0 auto;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 660px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.main-button {
  width: 280px;
  min-height: 55px;
  border: 3px solid $white;
  border-radius: 29px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: transparent;
  text-align: center;
  padding: 0 10px;

  @media (min-width: $desktop-width) {
    font-size: 21px;

    &:hover {
      background-color: $white;
      color: $red;
    }
  }

  &:active {
    background-color: $white;
    color: rgba($red, 0.3);
  }

  &--red {
    border-color: $red;
    color: $red;

    @media (min-width: $desktop-width) {
      &:hover {
        background-color: $red;
        color: $white;
      }
    }

    &:active {
      background-color: $red;
      color: rgba($white, 0.3);
    }
  }

  &--grey {
    background-color: transparent;
    border-color: rgba($dark-grey, 0.1);
    color: rgba($dark-grey, 0.1);

    @media (min-width: $desktop-width) {
      &:hover {
        background-color: transparent;
        border-color: rgba($dark-grey, 0.3);
        color: rgba($dark-grey, 0.3);
      }
    }

    &:active {
      background-color: rgba($dark-grey, 0.3);
      border: none;
      color: rgba($white, 0.3);
    }
  }
}

.slider-toggles {
  display: flex;
  width: 56px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.slider-toggles__button {
  padding: 0;
  border: 0;
  width: 6px;
  height: 6px;
  background-color: rgba($dark-grey, 0.3);
  border-radius: 50%;
  font-size: 0;

  @media (min-width: $desktop-width) {
    &:hover {
      background-color: rgba($dark-grey, 0.6);
    }
  }

  &:active {
    background-color: rgba($dark-grey, 0.1);
  }

  &--current {
    background-color: $white;
    box-shadow: 0 0 0 3px $dark-grey;
  }
}

.logo-mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.logo-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.logo-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.logo-pink {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.logo-pink-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
