// Global

@import "global/variables.scss";
@import "global/fonts.scss";
@import "global/global.scss";

//Blocks

@import "blocks/page.scss";
@import "blocks/page-header.scss";
@import "blocks/main-button.scss";
@import "blocks/header-nav.scss";
@import "blocks/text-intro.scss";
@import "blocks/download-section.scss";
@import "blocks/features.scss";
@import "blocks/reviews.scss";
@import "blocks/price.scss";
@import "blocks/price-table.scss";
@import "blocks/contacts.scss";
@import "blocks/page-footer.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";
@import "blocks/main-header.scss";
@import "blocks/page-info.scss";
@import "blocks/competition-form.scss";
@import "blocks/gallery.scss";
@import "blocks/user-photo.scss";
@import "blocks/filter-button.scss";
@import "blocks/range-controls.scss";
@import "blocks/form-button.scss";
@import "blocks/research.scss";
@import "blocks/popup.scss";
